.cores label:hover::after {
    border:6px solid rgba(0,0,0,0.1); 
}

.cores label::after {
    content:'';
    display: block;
    border-radius:50%;
    width:50px;
    height:50px;
    box-sizing: border-box;
    position: absolute;
    top:30px; 
    cursor: pointer;
    margin-right: 10px;
}

label[for=verde]::after {
    background-color:green;
    left: 0; 
}

label[for=rosa]::after {
    background-color:palevioletred; 
    left: 60px;
}

label[for=azul]::after {
    background-color:blue; 
    left:120px;
}

.cores input:checked + label::after {    /*Faz com que a bolinha selecionada fique com a borda diferente*/
    border:6px solid rgba(0,0,0,0.3); 
    transition: 0.5s;
}

.cores input[type=radio] {  /*Esconde a bolinha padrão do input Radio*/
    display: none; 
}

.cores input:not(:checked) + label img {  /*Seleciona as imagens não selecionadas e esconde elas com display none*/
    display: none; 
}

.cores {  /*posiciona o fieldset e abre espaço com paddong-top pra as bolinhas*/
    position: relative;
    padding-top:90px; 
}

.cores label img { /*Garante que a img não utrapasse o tamanho do fieldset*/
    display: block;
    max-width:100%; 
    max-width:35%;
    max-height:100%;
}

.produto{
    font-size: 1.2em;
}

.produto h1 {
    font-size:1.8em;
    font-weight: bold; 
}

.produto p {
    font-size:1.2em;
    font-style: italic;
    margin-bottom:1em; 
}

/*Estilização do Legend*/

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    text-transform: uppercase; 
}

/*Estilização do botão comprar*/

.comprar {
    background:#91BD3C;
    border: none;
    color:#333;
    font-size:1.5em;
    text-transform: uppercase;
    box-shadow:01px 3px #777;
    display: block;
    padding:0.5em 1em;
    margin:1em 0; 
}

/*Estilização do texto Detalhes do produto*/

.detalhes{
    padding:2em 0;
}

.detalhes h2{
    font-size: 1.5em;
    line-height: 2;
}

.detalhes p{
    margin:1em o;
    font-size: 1em;
    line-height:1.5;
    max-width:36em;
    text-align: justify;
}

/*Estilos da Tabela*/

table{
    border-spacing: 0.2em;
    border-collapse: separate;

}

thead{
    background-color: #999;
}

thead th{
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;

}

td{
    padding: 0.3em;
    text-align: center;
}

tr:nth-child(2n){
    background-color: #CCC;
}
td:first-child{
    font-style: italic;
}

/*Estilo da div black*/

.produto-black{
    background-color: #f2f2f2;
    margin-top: 1em;
    border-top: 2px solid #CCC;
}

.cores label img {
    border:2px solid #CCC; 
}
 


@media (min-width: 500px){
    .detalhes{
        font-size:1.2em;
    }
}





@media (min-width: 630px) {

    .produto {

        /* a foto vai se posicionar absolutamente com relação a esse elemento,por isso preciso estar posicionado */
        position: relative;
        /* deixar 40% de espaço em branco na esquerda para foto ocupar */
        padding-left:40%; 
    }

    .cores {

        /* estava relative antes; reinicio para static para evitar que a foto se posicione com relação a mim */
        position: static;
        /* zerando o padding-top que tinha antes e não preciso mais */
        padding:0; 
    }

    .cores label img {

        /* imagem se posiciona absolutamente à esquerda com relação ao .produto */
        position: absolute;
        top:0;
        left:0; 
        
    }

    .cores label:after {

        /* as bolinhas coloridas tinham posição absoluta e não precisamos mais, basta flutuar uma do lado da outra */
        position: static;
        float: left; 
    }
}

fieldset {
    display: inline-block;
    vertical-align: top;
    margin:1em 0;
    min-width:240px;
    width:45%;     
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
}